sphinx-togglebutton==0.3.2
sphinx>=4.3.0
sphinx-rtd-theme>=1.2.2
pyenchant>=2.0.0
sphinx-tabs==3.4.1
sphinxcontrib-spelling>=4.3.0
imagesize>=0.7.1
Pillow>=6.2.2
recommonmark>=0.6.0
sphinx-markdown-tables>=0.0.9
sphinx-git>=11.0.0
docutils>=0.16.0
# sphinx 4.3.1 needs docutils <0.18
#sphinx-tabs==1.1.11
