GitPython==3.1.27
Jinja2==3.1.2
Markdown==3.3.7
MarkupSafe==2.1.1
Pillow==11.0.0
Sphinx==8.0
commonmark==0.9.1
docutils==0.21.2
imagesize>=0.7.1
pyenchant==3.2.2
pyparsing==3.0.9
pytz==2024.2
recommonmark>=0.7.1
sphinx-git>=11.0.0
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==3.0.1
sphinx-tabs>=3.3.1
sphinx-togglebutton==0.3.2
sphinx-version-warning==1.1.2
sphinx_design==0.6.1
sphinxcontrib-googleanalytics==0.4
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-spelling>=4.3.0
sphinxemoji==0.3.1
